/* CSS file for the indian cuisine page*/

.i-home-page-wrapper{

}

.i-page-body {
    height: 94vh;
}

.i-page {
    background: url(../../images/spices.jpg);
    height: 100%;
}

.i-inner-page-container {
    height: 75%;
    width: 85%;
    display: inline-block;
    background-color: black;
    color: #e2d077;
    border-radius: 25px;
    text-align: center;
    padding: 2vw;
    margin: 5%;
}

/** Styling for the inner page i.e. the big white blob*/
.i-inner-page-body-container {
    margin-top: 5vh;
    width: 100%;
    height: 50vh;
    margin-bottom: 5px;
    display: inline-block;
}

.i-inner-page-body {
    width: 100%;
    height:100%;
}

.i-inner-page-title {
    font-size: 5vh;
    font-style: oblique;
    font-weight: 600;
}

@media screen and (max-width: 300px){
    .i-inner-page-title {
        font-size: 3vh !important;
    }

    .i-inner-page-body {
        font-size: 2vh !important;
    }

    .i-recipe-option{
        font-size: 3vh !important;
        margin-top: 15% !important;
    }

    button{
        font-size: 3vh !important;
    }
}

@media screen and (max-width: 450px) {
    .i-ingredient-container {
        font-size: 2vh !important;
    }

    .i-method-container {
        font-size: 2vh !important;
    }

    .i-inner-page-body {
        font-size: 2vh !important;
    }

    .i-inner-page-title {
        font-size: 3vh;
    }

    .i-recipe-option {
        font-size: 3vh !important;
        margin-top: 15%;
    }
}

.i-inner-page-title-container{

}

.i-inner-page-title-and-body-container {
    height: 100%;
    width: 99%;
    display: inherit;
    border: 1px solid #e2ca6d;
    border-radius: inherit;
}

.i-recipe-selector {
    width: 100%;
    height: 100%;
}

.i-recipe-options {
    list-style-type: none;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
    display: table;
}

.i-recipe-option {
    float: none;
    border-radius: 5px;
    text-align: center;
    font-size: 5vh;
    font-family: ui-serif;
    width: calc(100% - 5px);
    display: inline-block;
    margin-bottom: 5vh;
    min-width: -moz-fit-content;
    min-width: fit-content;
}

    .i-recipe-option-enabled:hover {
        border-radius: 5px;
        background-color: #c0b5b54f;
        cursor: grab;
    }

.i-recipe-selected {
    border: 2px solid #e2d077;
}

.i-check-box-container{
    margin-top: 3%;
}

.i-tools-container {
    width: auto;
    height: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
    overflow-y: auto;
    margin-right: 5px;
}

.i-ingredients-container {
    width: auto;
    height: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
    overflow-y: auto;
    margin-right: 5px;
}

.i-ingredient-container {
    width: 96%;
    margin-right: 1%;
    margin-left: 1%;
    float: left;
    background-color: #2a2828;
    border-radius: 3%;
    margin-bottom: 1%;
    font-size: 3vh;
}

.i-method-container{
    overflow-y: auto;
    height: 100%;
    margin-right: 5px;
}

.i-method-item {
    float: inherit;
    text-align: left;
}

.i-method-list{
    list-style: auto;
}

.i-page-button-container {
    position: relative;
    width: fit-content;
    height: fit-content;
    display: inline-block;
    margin: 0px 5px 2px 5px;
}

    .i-page-button-container button {
        color: #e2d077;
        background-color: #4f4b4b;
        border-radius: 1vh;
        text-shadow: none;
        right: 0vw;
        width: fit-content;
        height: 5vh;
        font-size: 4vh;
        border: 1px solid #4f4b4b;
    }

        .i-page-button-container button:hover {
            border: 1px solid yellow;
        }