/* CSS file for the indian cuisine page*/

.indian-home-page-wrapper{

}

.indian-page-body {
    height: 94vh;
    overflow-y: hidden;
}

.page-one {
    height: 100%;
}

.page-two {
    height: 100%;
}

.page-three {
    height: 100%;
}

.page-four {
    height: 100%;
}

.next-page-button {
    position: absolute;
    top: 95vh;
    left: 50vw;
}

.prev-page-button {
    position: absolute;
    top: 7vh;
    left: 50vw;
}