/* CSS file for the construction place holder page*/

.uc-home-page-wrapper {
}

.uc-page-body {
    height: 94vh;
}

.uc-page {
    background: url(../../images/spices.jpg);
    height: 100%;
}

.uc-inner-page-container {
    height: 75%;
    width: 85%;
    display: inline-block;
    background-color: black;
    color: #e2d077;
    border-radius: 25px;
    text-align: center;
    padding: 2vw;
    margin: 5%;
}

.uc-title {
    font-size: 6vh;
    font-style: oblique;
    font-weight: 600;
}

.uc-body-container {
    margin-top: 6%;
}

.uc-body {
    font-size: 4vh;
    display: table-row;
    font-style: oblique;
    font-weight: 400;
}

.uc-image-wrapper {
    border-radius: 5px;
    height: 17vw;
    max-height: 220px;
    margin-top: 4vw;
    margin-left: 1vw;
    margin-right: 1vw;
}
